In [4]:
# Import sqlite3 module
import sqlite3

In [2]:
# Chetna-Connect to the playtime database
db=sqlite3.connect("/Users/livestrong19/APAD/APAD_Project1/PickupSport.db")
cursor = db.cursor()

NameError: name 'sqlite3' is not defined

In [5]:
# Betty-Connect to the playtime database
db=sqlite3.connect("/Users/peihsinho/sqlite/db/PickupSport.db")
cursor = db.cursor()

In [15]:
# Drop Venues table
cursor.execute('''DROP TABLE Venues''')

In [16]:
# Create Venues table
cursor.execute('''
    CREATE TABLE Venues
                        (VenueId INTEGER PRIMARY KEY, 
                        VenueName TEXT NOT NULL,
                        VenueCity TEXT NOT NULL,
                        VenueZipcode INTEGER NOT NULL,
                        VenueAddress TEXT NOT NULL,
                        VenueOpeningTime TIME NOT NULL,
                        VenueClosingTime TIME NOT NULL,
                        VenueCapacity INTEGER NOT NULL,
                        CHECK (LENGTH(VenueZipcode)==6 AND LENGTH(VenueName)<=15 AND LENGTH(VenueAddress)<=30))
                        ''')

In [17]:
db.commit()

In [ ]:
# Create Users table

cursor.execute('''
    CREATE TABLE users(uid INTEGER PRIMARY KEY AUTOINCREMENT, uname TEXT,
                       phone TEXT, email TEXT, password TEXT, gender TEXT, location TEXT, admin BOOLEAN)
''')
db.commit()

## delete the table
# cursor.execute('''DROP TABLE users''')
# db.commit()

In [ ]:
# Create Venues_Events table
cursor.execute('''
    CREATE TABLE Events
                        (EventId INTEGER PRIMARY KEY AUTOINCREMENT, 
                        VenueName TEXT NOT NULL,
                        VenueCity TEXT NOT NULL,
                        VenueZipcode INTEGER NOT NULL,
                        VenueAddress TEXT NOT NULL,
                        VenueOpeningTime TIME NOT NULL,
                        VenueClosingTime TIME NOT NULL,
                        VenueCapacity INTEGER NOT NULL,
                        CHECK (LENGTH(VenueZipcode)==6 AND LENGTH(VenueName)<=15 AND LENGTH(VenueAddress)<=30))
''')

In [6]:
##create admin first
def addAdmin(uname, phone, email, password, gender, location):
    admin = True
    value = [(uname, phone, email, password, gender, location, admin)]
    print(value)
#     cursor.execute('''INSERT INTO users(uname, phone, email, password, gender, location, admin) 
#                   VALUES(:uname, :phone, :email, :password, :gender, :location, :admin)''',
#                 {'uname': uname, 'phone': phone, 'email': email, 'password': password, 'gender': gender, 
#                  'location': location, 'admin':admin})
    
    cursor.executemany('''INSERT INTO users(uname, phone, email, password, gender, location, admin) 
                  VALUES(?, ?, ?, ?, ?, ?, ?)''', value)
    
def checkPhone():
    phone = input("Enter your phone: ")
    print(phone)
    print(len(phone))
    print(phone.isdigit())
    if len(phone) == 10 and phone.isdigit():
        print(phone)
        return phone
    else:
        print("please enter again")
        checkPhone()

def checkEmail(email):
    regex = '\w+[.|\w]\w+@\w+[.]\w+[.|\w+]\w+'
    print(re.search(regex, email))
    # if !(re.match(regex, email)):
    #     print("please enter again")
    
def checkGender():
    gender = input("Enter your gender(F/M): ")
    if gender != 'F' and gender != 'M':
        print("please enter again")
        checkGender()
        print(gender)
    else:
        return gender
    
uname = input("Enter your name: ")
phone = input("Enter your phone: ")
    
# email = input("Enter your email: ")
# checkEmail(email)
email = 'xcvbnm'
    
# password = input("Enter your password: ")
password = '123'
# checkGender()
gender = 'F'
# location = input("Enter your location: ")
location = 'tx'

addAdmin(uname, phone, email, password, gender, location);

Enter your name: erg
Enter your phone: 1243567890
[('erg', '1243567890', 'xcvbnm', '123', 'F', 'tx', True)]

In [7]:
db.commit()

In [ ]:
def addUser(uname, phone, email, password, gender, location):
    admin = False
    value = [(uname, phone, email, password, gender, location, admin)]
    print(value)
#     cursor.execute('''INSERT INTO users(uname, phone, email, password, gender, location, admin) 
#                   VALUES(:uname, :phone, :email, :password, :gender, :location, :admin)''',
#                 {'uname': uname, 'phone': phone, 'email': email, 'password': password, 'gender': gender, 
#                  'location': location, 'admin':admin})  

    cursor.executemany('''INSERT INTO users(uname, phone, email, password, gender, location, admin) 
                  VALUES(?, ?, ?, ?, ?, ?, ?)''', value)
    
uname = input("Enter your name: ")
phone = input("Enter your phone: ")
email = input("Enter your email: ")
password = input("Enter your password: ")
gender = input("Enter your gender: ")
location = input("Enter your location: ")
addUser(uname, phone, email, password, gender, location);

In [ ]:
db.commit()